@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 200px;
    height: min-content;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    color: aliceblue;
    background-color: rgb(6, 0, 28);
}

a {
    color: aliceblue;
    cursor: pointer;
    text-decoration: underline;
}

button {
    background-color: rgb(11, 0, 51);
    border: solid 1px aliceblue;
    color: aliceblue;
    border-radius: 15px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
